@import '../../colors';

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: stretch;
  margin-left: 2rem;
}

.input {
  padding: 1rem;
  font-size: 20px;
  background-color: $colorSecondary;
  flex-grow: 1;
  outline: 0;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 0;
}

.btn {
  padding: 1rem;
  font-size: 20px;
  background: $colorPrimary;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  border-radius: 0 0.5rem 0.5rem 0;

  &:hover {
    background: $colorPrimary80;
  }

  &:disabled {
    pointer-events: none;
    background: $colorPrimary40;
  }
}