$colorPrimary: #6a5acd;
$colorPrimary80: rgba(106, 90, 205, 0.8);
$colorPrimary40: rgba(106, 90, 205, 0.4);
$colorSecondary: #cccccc;
$colorBackground: white;
$colorText: black;
$colorText80: rgba(0, 0, 0, 0.8);
$colorText40: rgba(0, 0, 0, 0.4);

:export {
  colorPrimary: $colorPrimary;
  colorPrimary80: $colorPrimary80;
  colorPrimary40: $colorPrimary40;
  colorSecondary: $colorSecondary;
  colorBackground: $colorBackground;
  colorText: $colorText;
  colorText80: $colorText80;
  colorText40: $colorText40;
}