.loader {
  border: 0.5rem solid #f3f3f3; 
  border-top: 0.5rem solid black; 
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1.5s linear infinite;
  align-self: center;
  margin-top: 1rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}