@import '../../colors';

.nav {
  width: 100%;
  background: $colorText;
  color: $colorText;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0.1rem 0 0.5rem $colorText;
  z-index: 2147483647;
  border-bottom: 1px solid $colorSecondary
}

.logo{
  display: flex;
  flex-direction: column;
}

.logoText {
  margin-left: 0.5rem;
  text-decoration: underline;
  color: $colorBackground;
  font-size: 20px;
}