@import '../../colors.module.scss';

.container {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    background: $colorBackground;
    overflow-y: auto;
    align-items: center;
}

.spinnerContainer{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emptyListContainer{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        color: $colorText;
    }
}

.listContainer {
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    max-width: 1400px;
}