@import '../../colors';

.container {
  width: 100%;
  background-color: $colorBackground;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: flex-start;
  flex-grow: 1;
}

.title {
  color: $colorText
}

.channel {
  color: $colorText;
  margin-top: 0.5rem;
}

.select {
  outline: none;
  border: 0;
  background: $colorSecondary;
  align-self: center;
  padding: 0.5rem;
  width: 120px;
  border-radius: 8px;
}

.btnDownload{
  background: $colorText;
  color: $colorBackground;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px; 
  padding: 0.5rem 1rem 0.5rem 1rem; 
  margin-left: 0.5rem;

  &:hover {
    background: $colorText80
  }
}

