.container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: flex-start;
  flex-grow: 1;
}

.title {
  color: black
}

.channel {
  color: black;
  margin-top: 0.5rem;
}

.btnDownload{
  background: black;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px; 
  padding: 0.5rem 1rem 0.5rem 1rem; 
}

.btnDownload:hover {
  background: rgba(0, 0, 0, 0.8)
}